<!doctype html>
<title>My application deployed automatically!</title>
  <h1>Hello, World!</h1>
  
    Result is {{result}} </br>
	  
  
  Enter an array of elements using yaml format in the first form. <br/>
  The second form accepts <b>two</b> values.<br/>
  
  The values entered in the second form are searched in the first form values. <br/>
  If it is not found, it is added to list. <br/>
  If it is found, it is not added again. <br/>
  Then the result is returns the sorted array. <br/>
  An example input for the first form is:</br>
  - 3<br/>
  - 5<br/>
  - 1<br/>
  - 10<br/>

  <form action="compute" method="post">
  <textarea name="input1" rows="10" cols="30">
  </textarea>
  <textarea name="input2" rows="10" cols="30">
  </textarea>
  <br>
  <input type="submit">
  </form>
